
.QFrame{
	border:1px solid #0F7DBE;
	border-radius:5px;
}


QMenuBar {
    background-color: #D3D3CF;
    border-style: none;
    font-weight: bold;
    min-height: 21px;
}

QMenuBar::item {
    spacing: 20px; /* spacing between menu bar items */
    padding: 1px 5px;
    background: transparent;
    color: black;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #B8B8B2;
}

QMenuBar::item:pressed {
    background: #B8B8B2;
}



QMenu {
    background-color: #F0F0F0;
    border-style: none;
    font-weight: bold;
}

QMenu::item {
    background: transparent;
    color: black;
}

QMenu::item:selected {
    background: #B8B8B2;
}

QMenu::separator {
    height: 1px;
    background: #B8B8B2;
}


QStatusBar::item {
     background-color: #D3D3CF;
     border-style: none;
}

QLabel#label{
	border-radius:5px;
	padding: 2px 20px 3px 20px;
	background: transparent;
	border-style:none;
	min-height: 13px;
}

QLabel#photo{
	padding: 1px 1px 1px 1px;
	border-style: solid #F0F0F0;
}



QDialog{
	background-color: #F0F0F0;
}
